/* Define uma paleta de cores */
:root {
    --cor-fundo: #F5F5DC; /* Bege claro */
    --cor-fundo-escuro: #E6E2AF; /* Bege mais escuro */
    --cor-texto: #333333; /* Texto escuro */
    --cor-botao: #C2B280; /* Bege para o botão */
    --cor-botao-hover: #A39480; /* Tom mais escuro para hover */
}

/* Estilo geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto);
}

h1 {
    margin: 20px 20px;
    color: var(--cor-texto);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: var(--cor-fundo);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border: none; /* Remove bordas da imagem */
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 8px 16px; /* Diminui o tamanho do botão */
    font-size: 14px;
    cursor: pointer;
    background-color: var(--cor-botao);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: var(--cor-botao-hover);
}

/* Estilos para o modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); /* Fundo semitransparente */
}

.modal-content {
    background-color: var(--cor-fundo);
    margin: 10% auto;
    padding: 20px;
    border: none;
    width: 90%;
    max-width: 500px;
    position: relative;
    border-radius: 8px;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#qrCodeImage {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

#pixCode {
    width: 100%;
    height: 60px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#copyMessage {
    color: green;
    display: none;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .card button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .close {
        font-size: 24px;
        right: 15px;
    }
}
